<!DOCTYPE html>
<html>
    <head>
        <title>Residents 0</title>
    </head>
    <body>
        <h1>Residents</h1>
        <p>The form below has no dummy selector option and no action is taken after the form is filled.</p>
        <form>
            <input name="name" placeholder="Name" type="text" />
            <select name="block">
                <option value="Block 1">Block 1</option>
                <option value="Block 2">Block 2</option>
                <option value="Block 3">Block 3</option>
            </select>
        </form>
    </body>
</html>