{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}


{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
                <tr>
                    <td>{{ record.symbol }}</td>
                    <td>{{ record.shares }}</td>
                    <td>${{ record.price }}</td>
                    <td>{{ record.transacted }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}