{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}


{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Name</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.symbol }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.shares }}</td>
                    <td>{{ "$%.2f" | format(item.price) }}</td>
                    <td>{{ "$%.2f" | format(item.total) }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>Cash</td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ cash }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><b>{{ TOTAL }}</b></td>
            </tr>
        </tbody>
    </table>
{% endblock %}