<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" "initial-scale=1" "scale-to-fit=no" />
    <title>Fill out info</title>
    <style>
        body
        {
            background-color: lightgreen;
        }

        #f
        {
            background-color: pink;
        }

        #b
        {
            background-color: blue;
            color: white;
        }
    </style>
</head>
<body>
    <h3>Please fill out the form below</h3>
    <form>
        Last name:  <input type="text" id="f" name="last_name" /><br />
        First name: <input type="text" id="f" name="first_name" /><br />
        Male:   <input type="radio" name="gender" />
        Female: <input type="radio" name="gender" />
        <button type="submit" id="b">Enter</button>
    </form>
</body>
</html>